.body {
  height: auto;
  background-color: #000;
}

.image {
  position: static;
  top: 10vh;
  display: block;
  width: 70vw;
  height: auto;
  max-height: none;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 1px none transparent;
  border-radius: 0px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  text-align: left;
}

.text-1 {
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
  z-index: auto;
  margin-top: 50vh;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 43px;
  text-align: center;
}

.pages {
  height: auto;
  max-width: 60vw;
  margin-top: 0vh;
}

.text-3 {
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
  padding-left: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 43px;
  text-align: center;
}

.text-2 {
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
  z-index: auto;
  padding-left: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 43px;
  text-align: center;
}

.div-block-4 {
  position: relative;
  top: 0px;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 15vh;
  min-height: 150px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  background-color: transparent;
}

.logo-block {
  position: fixed;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.div-block-6 {
  position: static;
  top: 20px;
  height: 45vh;
  background-color: transparent;
}

.page-start {
  position: static;
  top: 20px;
  display: block;
  height: 100vh;
  background-color: transparent;
}

.early-access {
  color: #e91fd5;
  font-size: 45px;
  text-align: center;
  text-decoration: none;
}

.early-access:hover {
  text-align: center;
  text-decoration: underline;
}

.invite {
  position: static;
  top: 55vh;
  z-index: auto;
  padding-left: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-size: 35px;
  line-height: 45px;
  text-align: center;
}

.div-block-6-copy {
  position: static;
  top: 20px;
  height: 2em;
  background-color: transparent;
}

.div-block-8 {
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
}

.text-4 {
  position: static;
  top: 50vh;
  z-index: auto;
  padding-left: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 43px;
  text-align: center;
}

.footer {
  position: static;
  top: auto;
  bottom: 0px;
  z-index: auto;
  padding-right: 1em;
  padding-left: 0px;
  float: left;
  font-family: 'Source Sans Pro', sans-serif;
  color: #686868;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
}

.footer:hover {
  text-decoration: underline;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.columns {
  position: static;
  bottom: 0px;
  z-index: 2;
  width: 70vw;
  margin-right: auto;
  margin-left: auto;
  background-color: #000;
}

.footer-block {
  position: fixed;
  bottom: 0px;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.link {
  z-index: 20;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #000;
  color: #707070;
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}

.down-arrow {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-right: auto;
  margin-bottom: 20vh;
  margin-left: auto;
}

.footer-copy {
  position: static;
  top: auto;
  bottom: 0px;
  z-index: auto;
  padding-left: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #686868;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
}

.footer-copy {
  position: static;
  top: auto;
  bottom: 0px;
  z-index: auto;
  padding-left: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #686868;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
}

.footer-copy {
  position: static;
  top: auto;
  bottom: 0px;
  z-index: auto;
  padding-left: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #686868;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
}

.footer-copy {
  position: static;
  top: auto;
  bottom: 0px;
  z-index: auto;
  padding-left: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #686868;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
}

.footer-copy {
  position: static;
  top: auto;
  bottom: 0px;
  z-index: auto;
  padding-right: 1em;
  padding-left: 0px;
  float: left;
  font-family: 'Source Sans Pro', sans-serif;
  color: #686868;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
}

.footer-copy:hover {
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .text-1 {
    font-size: 45px;
    line-height: 50px;
  }
  .text-3 {
    font-size: 45px;
    line-height: 50px;
  }
  .text-2 {
    font-size: 45px;
    line-height: 50px;
  }
  .early-access {
    font-size: 50px;
  }
  .text-4 {
    font-size: 45px;
    line-height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .text-1 {
    font-size: 25px;
    line-height: 27px;
  }
  .pages {
    max-width: 80vw;
  }
  .text-3 {
    font-size: 25px;
    line-height: 27px;
  }
  .text-2 {
    font-size: 25px;
    line-height: 27px;
  }
  .early-access {
    font-size: 30px;
  }
  .invite {
    font-size: 30px;
  }
  .text-4 {
    font-size: 25px;
    line-height: 27px;
  }
  .footer {
    padding-right: 1em;
    float: left;
    font-size: 18px;
    text-align: center;
  }
  .columns {
    display: none;
  }
  .footer-block {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .footer-copy {
    display: block;
    padding-right: 60px;
    float: none;
    font-size: 15px;
    text-align: center;
  }
  .footer-copy {
    padding-right: 0px;
    float: none;
    text-align: center;
  }
  .footer-copy {
    padding-right: 60px;
    float: none;
    text-align: center;
  }
  .footer-copy {
    padding-right: 0px;
    float: left;
    text-align: center;
  }
  .div-block-12 {
    width: 100vw;
  }
  .footer-copy {
    padding-right: 1em;
    float: left;
    font-size: 18px;
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .image {
    width: 90vw;
  }
  .text-1 {
    font-size: 25px;
    line-height: 27px;
  }
  .pages {
    max-width: 90vw;
  }
  .text-3 {
    font-size: 25px;
    line-height: 27px;
  }
  .text-2 {
    font-size: 25px;
    line-height: 27px;
  }
  .div-block-4 {
    height: auto;
  }
  .early-access {
    font-size: 30px;
  }
  .invite {
    font-size: 30px;
  }
  .text-4 {
    font-size: 25px;
    line-height: 27px;
  }
  .footer {
    display: block;
    font-size: 18px;
  }
  .footer-copy {
    display: none;
    font-size: 18px;
  }
}

